<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99b2f3">  <td>19/07/16 10:55:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverScript.endScript()[pri:0, instance:testcases.StoreCreate@7a675056]">&lt;&lt;endScript</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="99b2f3">  <td>19/07/16 10:55:18</td>   <td>-6376</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverScript.initialize()[pri:0, instance:testcases.StoreCreate@7a675056]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963815509</td>   <td></td> </tr>
<tr bgcolor="99b2f3">  <td>19/07/16 10:55:19</td>   <td>-5680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DriverScript.testApp()[pri:0, instance:testcases.StoreCreate@7a675056]">testApp</td> 
  <td>main@963815509</td>   <td></td> </tr>
</table>
